@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext);

/* General */

body {  }

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}

/* Footer */
footer {
    background:#111111;
    border-top:1px solid #000000;
    box-shadow:0 1px 0 #292929 inset;
    color:#999999;
    font-size:12px;
    margin-top:0;
    padding:15px 0;
    min-width:1200px;
    width:100%;
}

.footer-widgets {
    background:#1A1A1A;
    border-top:1px solid #000000;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color:#BBBBBB;
    font-size:11px;
    padding:20px 0;
    min-height:50px;
    display:table;
    min-width:1200px;
    width:100%;
}

.footer-widgets .container {
    width:80%;
    margin:0 auto;
}

.footer-widget {
    display:table-cell;
    min-width:200px;
    max-width:250px;
    padding:0 40px;
    text-align:justify;
}

.footer-widget .footer-widget-header h4 {
    font-weight:normal;
    font-size:24px;
}

.footer-widget-header {
    border-bottom:1px solid #000;
}

.footer-widget-content {
    border-top:1px solid #333333;
    padding-top:10px;
}

/* Header */
.header .topbar {
    background-image: linear-gradient(to bottom, #FAFAFA, #E9E9E9);
    background:-moz-linear-gradient(center top , #FAFAFA 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;
    border-bottom:1px solid #D5D5D5;
    color:#444444;
    height:40px;
    font-size:12px;
    min-width:1200px;
    width:100%;
}

.header .topbar .navbar-inner {
    text-align:center;
    border-radius:0;
    border:none;
}

.header .topbar .navbar-inner .main-nav-container {
    margin-left:300px;
}

.header .topbar .navbar-inner li a {
    padding-right:30px;
    padding-left:30px;
}

.header .topbar-lower {
    background-color: #1392e9;
    background-image: linear-gradient(to bottom, #1392e9, #139ff7);
    box-shadow: 0 1px 0 #FFFFFF inset;
    font-family:"Arial Unicode MS", sans-serif;
    border-bottom:1px solid #d1d1d1;
    height:45px;
    min-width:1200px;
    width:100%;
}

.header .topbar-lower .nav li {
    border-right:1px solid #0480be;
    border-left:1px solid #5bc0de;
    margin:5px 0;
}

.header .topbar-lower .nav li a {
    border-radius:0;
    padding:10px 20px;
    margin:0;
    font-size:14px;
    color:#fff;
}

.header .topbar-lower .nav li a:hover {
    background:#5bc0de;
}

.header .topbar-lower .nav li.active a {
    background:#5bc0de;
}


.header .topbar-lower .nav li:first-child {
    border-left:none;
}

.header .topbar-lower .nav li:last-child {
    border-right:none;
}

.header .topbar-lower .nav.nav-pills {
    margin:0;
    border-bottom:1px solid #fff;
    padding-left:143px;
}

/* Content */

.content {
    background:#fcfcfc;
    width:1200px;
    margin:0 auto;
    padding:0;
    display:table;
}

#main-col {
    width:75%;
    padding:0 40px;
    border-left:1px solid #e4e4e4;
    border-right:1px solid #ebebeb;
    display:table-cell;
}

#sidebar {
    width:25%;
    padding:20px 40px;
    border-left:1px solid #fff;
    border-right:1px solid #ebebeb;
    display:table-cell;
    background:#F8F8F8;
}

/* Sidebar widget */
.sidebar-widget {
    margin-bottom:40px;
}

.sidebar-widget-header {
    border-bottom:1px solid #ebebeb;
}

.sidebar-widget-header h4 {
    font-family: 'Open Sans', sans-serif;
    font-size:24px;
    font-weight:normal;
}

.sidebar-widget-content {
    border-top:1px solid #fff;
    padding-top:10px;
    text-align:justify;
    font-size:12px;
    color:#606060;
    text-shadow:1px 1px 0 #ebebeb;
}

/* Product grid */
#items a:hover, #items a:focus {
    text-decoration:none;
}

#items h4 {
    font-weight:normal;
    width:150px;
    margin:0 auto;
    padding:5px 0;
}

#items p {
    color:#666666;
    width:150px;
    margin:0 auto;
    padding:5px 0;
}

#items img {
    padding:5px;
    border:1px solid #ebebeb;
}

#items .btn-group {
    margin:0 30px;
}

#items .btn-group .old-price {
    text-decoration: line-through;
}

#items .new-price {
    background:#139ff7;
    color:#ebebeb;
}

#items li a > .btn.new-price {
    margin:0 30px;
}

#items li {
    width:205px;
    margin:0;
    border-left:1px solid #fff;
    border-right:1px solid #ebebeb;
}

#items .row li:first-child {
    border-left:none;
}

#items .row li:last-child {
   border-right:none;
}

#items li a {
    width:200px;
    padding:0 25px 0 22px;
}

#items .row li:last-child a {
    padding:0 0 0 22px;
}

#items {
    margin:0;
}

#items .row {
    border-bottom:1px solid #ebebeb;
    border-top:1px solid #fff;
}